@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);






#slider-0 H2 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #000000;
  font-size: 48px;
}
#slider-0 P {
  color: #000000;
  text-align: left;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-1 .navbar-toggler {
  color: #000;
}
#ext_menu-1 .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
#form2-3 .mbr-section-title {
  font-family: 'Lora', serif;
}
#form2-3 .btn {
  font-family: 'Lora', serif;
}
#footer1-7 P {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
