@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);









#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box4-k .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
}
#msg-box4-k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
}
#msg-box3-w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-w .mbr-section-title {
  font-size: 23px;
}
#msg-box3-w .lead {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#msg-box3-w .mbr-section-title I {
  font-size: 23px;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-25 .mbr-section-title {
  font-size: 20px;
}
#msg-box3-25 .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#msg-box3-25 small {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-25 .lead {
  color: #ca1512;
}
#social-buttons1-m .mbr-section-title {
  font-size: 15px;
}
#contacts1-29 P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-29 STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-29 DIV {
  color: #f1c050;
}








#msg-box3-1n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1n .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  text-align: left;
}
#msg-box3-1n .mbr-section-title {
  font-size: 46px;
}
#msg-box5-1m .lead P {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box5-1m .btn {
  font-family: 'Playfair Display', sans-serif;
}
#slider-3u H2 {
  font-size: 32px;
  text-align: center;
}
#slider-3u .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#contacts1-29 P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-29 STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-29 DIV {
  color: #f1c050;
}
#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}









#msg-box3-34 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-34 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-34 .lead P {
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box4-2y .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-2y .btn {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box4-35 .lead P {
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box4-35 .btn {
  font-family: 'Playfair Display', sans-serif;
}
#contacts1-2n P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-2n STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-2n DIV {
  color: #f1c050;
}
#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}




#content1-2f P {
  text-align: center;
}
#content1-2h P {
  text-align: center;
}
#content1-2i P {
  text-align: center;
}
#content1-2g P {
  text-align: center;
}
#contacts1-2b P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-2b STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-2b DIV {
  color: #f1c050;
}
#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}













#header2-3n H1 {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-4i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4i .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#content4-3l H4 {
  font-size: 22px;
}
#content4-3l P {
  text-align: left;
}
#msg-box1-40 P {
  font-size: 15px;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box1-40 I {
  font-size: 15px;
}
#msg-box3-4h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4h .btn {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-3z P {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-3z H2 {
  font-size: 36px;
}
#msg-box3-3o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3o .mbr-section-title {
  font-size: 20px;
}
#msg-box3-3o .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#msg-box3-3o small {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-3o .lead {
  color: #ca1512;
}
#msg-box1-3y P {
  font-family: 'Playfair Display', sans-serif;
}
#form1-4f .mbr-section-title {
  font-size: 25px;
}
#form1-4f .btn {
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons1-3p .mbr-section-title {
  font-size: 15px;
}
#contacts1-3a P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-3a STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-3a DIV {
  color: #f1c050;
}
#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}







#header2-3g H1 {
  font-size: 36px;
  text-align: center;
}
#header2-3g P {
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
}
#header2-3g B {
  font-family: 'Playfair Display', sans-serif;
}
#header2-3g .btn {
  font-family: 'Playfair Display', sans-serif;
}
#contacts1-3h P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-3h STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-3h DIV {
  color: #f1c050;
}
#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}








#msg-box4-4a .lead P {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-4c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4c .lead P {
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-4c .mbr-section-title {
  font-size: 30px;
  text-align: left;
}
#form2-b .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
}
#form2-b .btn {
  font-family: 'Playfair Display', sans-serif;
}
#contacts1-29 P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-29 STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-29 DIV {
  color: #f1c050;
}
#menu-46 .navbar-toggler {
  color: #000;
}
#menu-46 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
#menu-46 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
