@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);











#msg-box4-k .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
}
#msg-box4-k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
}
#msg-box4-r .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}
#msg-box4-s .lead P {
  font-size: 20px;
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}
#msg-box3-w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-w .mbr-section-title {
  font-size: 23px;
}
#msg-box3-w .lead {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-25 .mbr-section-title {
  font-size: 20px;
}
#msg-box3-25 .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#msg-box3-25 small {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-25 .lead {
  color: #ca1512;
}
#social-buttons1-m .mbr-section-title {
  font-size: 15px;
}
#contacts1-29 P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-29 STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-29 DIV {
  color: #f8f8f6;
}
#ext_menu-1 .navbar-toggler {
  color: #000000;
}
#ext_menu-1 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-1 .navbar-nav .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}








#ext_menu-9 .navbar-toggler {
  color: #000000;
}
#ext_menu-9 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-9 .navbar-nav .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#content5-z P {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#content5-z DIV {
  color: #000000;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#form2-b .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
}
#form2-b .btn {
  font-family: 'Playfair Display', sans-serif;
}
#contacts1-29 P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-29 STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-29 DIV {
  color: #f8f8f6;
}










#ext_menu-1k .navbar-toggler {
  color: #000000;
}
#ext_menu-1k .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-1k .navbar-nav .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#msg-box3-1n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1n .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
  text-align: center;
}
#msg-box3-1n .mbr-section-title {
  font-size: 46px;
}
#msg-box5-1m .lead P {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box5-1m .btn {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-1t .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1t .mbr-section-title {
  font-size: 20px;
}
#content5-1w P {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}
#content5-1w DIV {
  color: #000000;
}
#content5-1w .mbr-section-title {
  text-align: center;
}
#msg-box3-21 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-21 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-21 .mbr-section-title {
  font-size: 20px;
}
#msg-box3-21 .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#msg-box3-21 small {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-21 .lead {
  color: #ca1512;
}
#social-buttons1-20 .mbr-section-title {
  font-size: 16px;
}
#contacts1-29 P {
  color: #f8f8f6;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#contacts1-29 STRONG {
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
}
#contacts1-29 DIV {
  color: #f8f8f6;
}
