@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);







#ext_menu-9 .navbar-toggler {
  color: #000000;
}
#ext_menu-9 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-9 .navbar-nav .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#content5-z P {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}
#content5-z DIV {
  color: #000000;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#footer1-a P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  color: #000000;
}
#form2-b .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
}
#form2-b .btn {
  font-family: 'Playfair Display', sans-serif;
}








#msg-box4-k .lead P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
}
#msg-box4-k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 25px;
}
#msg-box4-r .lead P {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box4-s .lead P {
  font-size: 20px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-w .mbr-section-title {
  font-size: 23px;
}
#msg-box3-w .lead {
  font-family: 'Playfair Display', sans-serif;
  font-size: 18px;
}
#instagram-feed-block-i .inst__title {
  font-size: 20px;
  text-align: center;
}
#social-buttons1-m .mbr-section-title {
  font-size: 18px;
}
#ext_menu-1 .navbar-toggler {
  color: #000000;
}
#ext_menu-1 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-1 .navbar-nav .btn {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#footer1-7 P {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  color: #000000;
}
